@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../../images/Offer\ img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 1rem;
  font-family: "Josefin Sans", sans-serif;
}
.n-detail {
  text-align: center;
}
.n-detail h2 {
  color: white;
  font-size: 29px;
  padding: 10px 0;
}
.n-detail p {
  color: white;
  font-size: 20px;
}
.n-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.n-input input {
  width: 170%;
  padding: 1rem;
  border-radius: 3px;
  letter-spacing: 1px;
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}
.n-input .button {
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(157, 34, 0) 0%, rgb(245, 98, 35) 100%);
  color: #000;
  font-weight: 900;
  color: white !important;

}
@media (max-width: 990px) {
  .news {
    flex-wrap: wrap;
  }
}
