@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease;
  /* font-family: 'Marko One', serif; */
}
.header {
  width: 100%;
  padding: 0.4rem;
  box-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.09),
    0px 0.4em 0.7em -0.1em rgba(0, 0, 0, 0.09);
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  font-family: "Marko One", serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.nav-icon {
  color: orangered;
  display: none;
}
.logo h1 {
  font-size: 30px;
  color: black;
}
.logo h1 span {
  color: orangered;
}
.nav-menu {
  display: flex;
  flex-direction: row;
}
.nav-item {
  padding: 0.5rem;
}
.nav-item a {
  font-size: 17px;
  color: black;
  font-weight: lighter;
  padding: 10px;
}
.nav-item a:hover {
  color: red;
}
.btns {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.s-icons i {
  font-size: 21px;
  padding: 12px;
  cursor: pointer;
}
.s-icons i:hover {
  color: orangered;
}

@media (max-width: 1100px) {
  .header {
    padding: 0.6rem;
  }
  .nav-icon {
    display: inline-flex;
    font-size: 33px;
    padding: 18px;
    color: red;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background: white;
    height: auto;
    position: absolute;
    top: 85px;
    left: -110%;
    opacity: 0;
    align-items: stretch;
    padding: 35px 0 30px 0;
    text-align: center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
  }
  .nav-item a {
    font-size: 24px;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1rem 0;
}
.search .h-search {
  display: flex;
  align-items: center;
}
.search .h-search input {
  padding: 16px 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: grey;
  border-radius: 4px;
  font-size: 18px;
}
.search .h-search i {
  padding: 17px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: grey;
  border-radius: 4px;
  font-size: 18px;
}

.search .h-deal {
  padding: 16px 10px;
}

@media (max-width: 720px) {
  .btns {
    display: none;
  }
  .logo h1 {
    font-size: 26px;
  }
  .s-icons i {
    font-size: 21px;
    padding: 8px;
    cursor: pointer;
  }
}
@media (min-width: 1700px) {
  .nav {
    max-width: 70%;
    display: flex;
    gap: 7.6rem;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
